.odd {
    background-color: rgb(245, 146, 156);
    font-family: Verdana, "DejaVu Sans", sans-serif;
}

.adjust-font-size {
    font-size: 24px;
}

#two {
    color: blue;
    font-size: 36px;
}

#four {
    background-color: rgb(167, 231, 167);
    font-weight: bold;
}