body {
    font-family: sans-serif;
    background: lightgray;
}

div {
    background: white;
    padding: 8px;
    margin-bottom: 8px;
}

.card {
    padding: 8px;
}

.title {
    background-color: lightblue;
    padding: 8px;
}

.content {
    background-color: lightblue;
    padding: 8px;
    font-size: 24px;
    margin-bottom: 22px;
}

.button-container {
    background-color: lightblue;
    padding: 8px;
    font-size: 24px;
    text-align: center;
}

button {
    background: white;
    padding: 8px 24px;
    display: block;
    margin: auto;
    font-size: 24px;
}